<% layout('layouts/boilerplate')%>


  <div class="container">

    <div class="row justify-content-center gx-5">
      <div class="col-md-6">
        <div class="card shadow mb-4">
          <div class="card-body text-center">
            <h1>
              🏆️ Standings
            </h1>
            <h1 class="card-title">리그명: <%= standings.league.name %> <img src="<%= standings.league.flag %>"
                  width="50px" height="50px" alt="국가 깃발" class="mb-3">
            </h1>
            <h2 class="card-title">소속 국가: <%= standings.league.country %><img src="<%= standings.league.logo %>"
                  width="50px" height="50px" alt="리그 로고" class="mb-3">
            </h2>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row justify-content-center gx-5">
        <div class="col-auto">
          <button class="btn btn-outline-info" id="prevYearBtn">이전 시즌</button>
        </div>
        <div class="col-auto">
          <div id="year">
            <%= standings.league.season %>시즌 순위표
          </div>
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-info" id="nextYearBtn">다음 시즌 </button>
        </div>
      </div>
    </div>


    <div class="container">
      <div id="standings-table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>순위</th>
              <th></th>
              <th>팀명</th>
              <th>경기 수</th>
              <th>승리</th>
              <th>무승부</th>
              <th>패배</th>
              <th>승점</th>
              <th>골 득실차</th>
              <th>팀 분석</th>
            </tr>
          </thead>
          <tbody>
            <% standings.league.standings[0].forEach(team=> { %>
              <tr>
                <td>
                  <%= team.rank %>
                </td>
                <td><img src="<%= team.team.logo %>" alt="<%= team.team.name %>"
                    style="max-width: 40px; max-height: 40px;"></td>
                <td>
                  <%= team.team.name %>
                </td>
                <td>
                  <%= team.all.played %>
                </td>
                <td>
                  <%= team.all.win %>
                </td>
                <td>
                  <%= team.all.draw %>
                </td>
                <td>
                  <%= team.all.lose %>
                </td>
                <td>
                  <%= team.points %>
                </td>
                <td>
                  <%= team.goalsDiff %>
                </td>
                <td><button class="btn btn-outline-dark analyze-btn" data-team-id="<%= team.team.id %>">팀 분석</button>
                </td>
              </tr>
              <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script> const season = <%- JSON.stringify(standings.league.season) %>;
    const leagueId = <%- JSON.stringify(standings.league.id) %>
  </script>

  <script src="/js/standingScript.js"> </script>
  </div>